# This is a legacy container file format for Podman
# For systemd integration, use the generated service file instead
[Container]
Image=localhost/tts_iv3us:latest
ContainerName=tts-piper-iv3us
PublishPort=5051:5051
Volume=/mnt/ia/piper/voices:/opt/voices:ro
Volume=/tmp:/tmp:rw
Environment=VOICES_CONFIG_FILE_PATH=/opt/voices/voices_config.json

[Service]
TimeoutStopSec=70
RestartPolicy=Always

[Install]
WantedBy=default.target
